<div class="container" *ngIf="adCar">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Edit Ad Car</h5>
            <form #editForm='ngForm' class="form-signin" (ngSubmit)="editAdCarHandler(editForm.value)">
              <label for="modelInput">
                Model
              </label>
              <div class="form-label-group">
                <input 
                #modelInput="ngModel" 
                type="text" 
                [(ngModel)]='adCar.model'
                name='model' 
                minlength="3"
                id="inputModel" 
                class="form-control"
                required>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="modelInput.invalid && modelInput.touched">
                Please enter min 3 letters !
              </div>

              <label for="priceInput">
                Price
              </label>
              <div class="form-label-group">
                <input 
                #priceInput="ngModel" 
                type="text" 
                [(ngModel)]='adCar.price' 
                name='price' 
                pattern = "[0-9]+"
                id="inputPrice" 
                class="form-control"
                required>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="priceInput.invalid && priceInput.touched">
                Please enter only numbers!
              </div>
              
              <label for="imgUrlInput">
                ImgUrl
              </label>
              <div class="form-label-group">
                <input 
                #imgUrlInput="ngModel" 
                type="text" 
                [(ngModel)]='adCar.imgUrl' 
                name='imgUrl' 
                placeholder="https://..."
                pattern="https?:\/\/.*"
                id="inputImgUrl" 
                class="form-control"
                required>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="imgUrlInput.invalid && imgUrlInput.touched">
                Please enter only :https://
              </div>
              

              <label for="mileageInput">
                Mileage
              </label>
              <div class="form-label-group">
                <input 
                #mileageInput="ngModel" 
                type="text" 
                [(ngModel)]='adCar.mileage' 
                name='mileage' 
                id="inputMileage" 
                pattern = "[0-9]+"
                class="form-control"
                required>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="mileageInput.invalid && mileageInput.touched">
                Please enter only numbers!
              </div>
              
  
              <label for="yearInput">
                Year
              </label>
              <div class="form-label-group">
                <input 
                #yearInput="ngModel" 
                type="text" 
                [(ngModel)]='adCar.year' 
                name='year' 
                id="inputYear" 
                pattern = "[0-9]+"
                class="form-control"
                required>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="yearInput.invalid && yearInput.touched">
                Please enter only numbers!
              </div>
              

              <label for="descriptionInput">
                Description
              </label>
              <div class="form-label-group">
                <input 
                #descriptionInput="ngModel" 
                type="text" 
                [(ngModel)]='adCar.description' 
                name='description' 
                id="inputDescription" 
                placeholder="max letters 50"
                minlength="10"
                maxlength="50"
                class="form-control"
                required>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="descriptionInput.invalid && descriptionInput.touched">
                Please enter min 10 letters !
              </div>
              

              <label for="contactlInput">
                Contact
              </label>
              <div class="form-label-group">
                <input 
                #contactlInput="ngModel" 
                type="text" 
                [(ngModel)]='adCar.contact' 
                name='contact' 
                id="inputContact" 
                class="form-control"
                required>
              </div>

              <label for="enginelInput">
                Engine
              </label>
              <div class="form-label-group">
                <input 
                #enginelInput="ngModel" 
                type="text" 
                [(ngModel)]='adCar.engine' 
                name='engine' 
                id="inputEngine" 
                class="form-control"
                required>
              </div>

              <label for="speedlInput">
                Speed
              </label>
              <div class="form-label-group">
                <input 
                #speedlInput="ngModel" 
                type="text" 
                [(ngModel)]='adCar.speed' 
                name='speed' 
                pattern = "[0-9]+"
                id="inputSpeed" 
                class="form-control"
                required>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="speedlInput.invalid && speedlInput.touched">
                Please enter only numbers!
              </div>

              <label for="colorlInput">
                Color
              </label>
              <div class="form-label-group">
                <input 
                #colorlInput="ngModel" 
                type="text" 
                [(ngModel)]='adCar.color' 
                name='color' 
                id="inputColor" 
                class="form-control"
                required>
              </div>
              
              
              <button [disabled]="editForm.invalid" class="btn btn-lg btn-primary btn-block text-uppercase" > 
                Edit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
