<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="panel panel-default">
      <div class="text-underline panel-body panel-primary">
        Logged as: <span class="text-bold">currentUser.email</span>
        <a class="float-right custom-button btn btn-danger" (click)="logout()">Logout</a>
      </div>
      <div class="panel-footer">
  
        <form  #form='ngForm' (ngSubmit)="editProfile(form.value)">
          <div class="form-group">
            <label 
            for="emailInput">New address
          </label>
          
            <input  
            #emailInput="ngModel" 
            ngModel 
            name='email'
            type="text" 
            id="newEmail" 
            class="form-control"
            pattern="[a-zA-Z0-9.-_]{6,}@[a-z]+\.[a-z]+"
            >
            <div class="alert alert-danger" role="alert"
              *ngIf="emailInput.invalid && emailInput.touched">
              Please enter valid  email!
              </div>
          </div>
          <div>
            <div class="form-group">
              <label for="passwordInput">New Password</label>
              <input
               #passwordInput="ngModel" 
                ngModel 
                name="password" 
                pattern="^[A-Za-z\d]{5,16}$"
                type="password"
                id="password" 
                class="form-control" 
                placeholder="************">
            </div>
            <div class="alert alert-danger" role="alert"
              *ngIf="passwordInput.invalid && passwordInput.touched"
              >
              Password must contain only letters and digits and must between 5 and 16 symbols!
              </div> 
            <div class="form-group">
              <label for="rePasswordInput">Re-Password</label>
              <input
                #rePasswordInput="ngModel"  
                 ngModel 
                 name="rePassword" 
                 type="password" 
                 id="rePassword" 
                 class="form-control"
                 placeholder="************">
            </div>
            <div class="alert alert-danger" role="alert"
              *ngIf="passwordInput.value !== rePasswordInput.value && rePasswordInput.touched"
              >
              Bot password must match!
              </div>
            <p class="error-message" >Passwords
              don't
              match!</p>
          </div>
          <button [disabled]="form.invalid"  class="btn btn-primary">Change profile information</button>
        </form>
  
      
